footer {
  text-align: center;
  font-size:150%;
  background-color: black;
  color: white;
}
h1 {
 text-align: center;
 font-size:150%;
  background-color: black;
  color: white;

  }
  
  body {
  
  text-align: center;
  
  }